body {
  background-color: rgb(230, 230, 230);
}

#root {
  display: flex;
  justify-content: center;
}

.grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.cell {
  flex-grow: 1;
  background-color: #28334A;
  opacity: 0.95;
}

.visited {
  background-color: #FBDE44;
}

.current {
  background-color: #F65058;
}

.north {
  border-top: 1px yellow solid;
}
.south {
  border-bottom: 1px blue solid;
}
.east {
  border-right: 1px gray solid;
}
.west {
  border-left: 1px red solid;
}

